<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneinstep.caipiao.shiro.dao.SysPermissionDao">

	<select id="findPermissionsByRid" resultType="sysPermission">
		select p.pid,p.name
		from sys_permissoin p
		inner join
		 sys_role_permission rp
		on p.pid = rp.pid
		where  rp.rid = #{rid};
	</select>

</mapper>
