<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneinstep.caipiao.shiro.dao.UserDao">

	<resultMap id="userAuthResultMap" type="user">
		<id column="uid" property="uid"/>
		<result column="username" property="username"/>
		<result column="name" property="name"/>
		<result column="state" property="state"/>
		<collection property="roles" ofType="sysRole" column="uid" javaType="ArrayList"
		select="com.oneinstep.caipiao.shiro.dao.SysRoleDao.findRolesByUid">
		</collection>
	</resultMap>

	<!-- 根据用户名查询角色权限信息 -->
	<select id="findForLogin" resultMap="userAuthResultMap">
		select  uid,username,name,password,state from user where username = #{username}
	</select>



</mapper>
