<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneinstep.caipiao.shiro.dao.UserDao">

	<resultMap id="userAuthResultMap" type="user">
		<id column="uid" property="uid"/>
		<result column="username" property="username"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="state" property="state"/>
		<collection property="roles" ofType="sysRole" column="uid"
					select="com.oneinstep.caipiao.shiro.dao.SysRoleDao.findRolesByUid">
		</collection>
	</resultMap>

	<!-- 根据用户名查询角色权限信息 -->
	<select id="findForLogin" resultMap="userAuthResultMap">
		select  uid,username,name,password,salt,state from user where username = #{username}
	</select>

	<select id="findAll" resultType="user">
		select  *  from  user
	</select>

	<insert id="doCreate">
		insert  into user(username,password,name,salt,state)
		values (#{username},#{password},#{name},#{salt},#{state})
	</insert>

	<update id="doUpdate">
		update  user set name=#{name} where uid = #{uid}
	</update>

	<delete id="doRemove">
		delete  from  user where  uid = #{uid}
	</delete>

	<select id="findById" resultType="user">
		select  * from  user where  uid = #{uid}
	</select>

	<select id="findByNameAndPass" resultType="user">
		select  * from  user  where  username=#{username} and  password = #{password}
	</select>

	<update id="updatePassByUid">
		update user set password = #{newPass} where  uid = #{uid}
	</update>


</mapper>
