<!DOCTYPE html>
<html xmlns:shiro="http:www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
</head>
<body>
<h3>用户查询界面</h3>
<p><a shiro:hasRole="admin">管理员</a></p>
<p><a shiro:hasRole="vip">雇员管理</a></p>
<p><a shiro:hasPremission="user:add">增加用户</a></p>
<p><a shiro:hasPremission="user:view">查看用户</a></p>
<p><a shiro:hasPremission="user:del">删除用户</a></p>
<p><a shiro:notAuthenticated>你还没有登陆</a></p>
<p><a shiro:Authenticated>你已经登陆</a></p>
</body>
</body>
</html>